
@import 'var_portfolio';

body {
  max-width: 100%;
  font-family: "Roboto";
  font-size: 1rem;
}


@mixin bouton_capture{
  width: 390px;
  height: 390px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin: 2%;
}

@mixin blocks_timeline ($background){
  background-color: $background;
  padding-top: 0.1%;
  padding-bottom: 3%;
}

@mixin titre_rubriques {
  width: 100%;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  font-size: 2rem;
}

.corpus{
  max-width: 100%;
  display: block;
}

header.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $rouge_photoshop_background;
  //opacity: 0.7;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 3;

      ul{
        display: flex;
        flex-direction: row;
      }

      li{
        margin: 2%;
      }

      .navbar{
        color: white;
        font-size: 1.1rem;
        }

        .navbar:hover{
          background-color: black;

      }

      #menu{
        //padding-left: 8%;
        font-size: 1.3rem;
        width: 50%;
        padding-left: 10%;
      }

      #logo_row{
        padding-left: 25%;
        display: flex;
        flex-direction: row;
        width: 50%;
      }

    }

h1  {
    font-size: 2.3em !important;
    color: white;
    text-shadow:  0.1px 0.7px 1px white, 0 0 30px #ff3915, 0 0 10px #ff3915;
    /*font-family: "lemoneign";*/
  }

h2  {
    font-size: 2em !important;
    font-weight: bold;
  }

h3{
    font-size: 1.8em !important;
  }
article{
  font-size: 1.3em !important;
  margin-bottom: -10%;
}




        #street{
          display: none;
          position: absolute;
        }

        #place:hover #street{
          display: block;
        }

        #mail{
          display: none;
          position: absolute;
        }

        #mail-box:hover #mail{
          display: block;
        }


#accueil{
  background-color: $yellow-background;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
    img{
      width: 70%;
    }

    #about{
      width: 60%;
        img{
          width: 50%;
          margin-top: 20%;
            }

            #pied_accueil{
              width: 100%;
              display: flex;
              flex-direction: row;
            }

            #block_boutons{
              flex-direction: column;
              display: flex;
            }

            .logo_bouton{
              display: flex;
              flex-direction: row;
              margin-right: 20%;
                a{
                  color: white;
                  width: 180px;
                  height: 55px;
                  border-radius: 50%;
                  font-size: 1.2rem;
                  margin-top: 55%;
                  padding-top: 6%;

              }
              }

                  #marge_bouton{
                    margin-top: 15%;
                  }

                  #marge_bouton1{
                    margin-top: -30%;
                  }
                }
          }


  .block_computing{
    width: 100%;

      .block_techno{
        background-color: black;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 1%;
        padding-bottom: 1%;

            .sous-block-techno{
              width: 50%;
              display: flex;
              flex-direction: row;
              margin-right: 5%;
            }

            h3{
              color: white;
              width: 50%;
              padding-left: 10%;
              font-size: 2rem;
            }
        }

        .logo_techno{
          width: 85px;
          height: 85px;
          padding: 15%;
        }

        #logo_techno1{
          width: 110px;
          height: 90px;
          padding: 15%;
        }


      }


      .block_projects{
        background-color: $rouge_photoshop_background;
        padding-top: 5%;
        padding-bottom: 10%;
        color: white;

         h3{
           padding-left: 10%;
           margin-bottom: 8%;
           font-size: 2rem;
           padding-top: -3%;
         }

        .line_projects1{
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 2%;
        }
        .line_projects2{
          width: 100%;
          display: flex;
          justify-content: center;
        }

        button{
          @include bouton_capture;

        }
        button{
          @include bouton_capture;
        }



        #maquette_foret{
          background-image: url("../captures_projets/foret_cercle.png");
          background-position: -32px -28px;
        }

        #maquette_animation{
          background-image: url("../captures_projets/transat.png");
        }

        #maquette_materialize{
          background-image: url("../captures_projets/batman_capture.png");
        }

        #maquette_gsap{
          background-image: url("../captures_projets/capture_gsap_emoji.png");
          background-position: -43px -30px;
        }
        #maquette_snapchat{
          background-image: url("../captures_projets/capture_code_snaptchat.png");
          background-position: -43px -30px;
        }

        #maquette_spotify{
          background-image: url("../captures_projets/capture_logo_spotify.png");
          background-position: -108px -107px;
        }

        .description_projet{
          background-color: black;
          opacity: 0;
          width: 390px;
          height: 390px;
          border-radius: 50%;
          position: absolute;
          top: 1.5%;
          right: -1.8%;
          padding: 10%;

            h4{
              font-size: 2rem;
              padding: 5%;
            }

            p {
              color: white;
              text-align: justify;
              padding-top: 5%;
            }


          }

          .description_projet:hover{
            opacity: 0.6;
          }

          .sous_block_projet{
            position: relative;
          }


  }

  .block_formations{
    /*background-color: $light_orange_photoshop_background;
    padding-top: 0.1%;
    padding-bottom: 3%;*/
    @include blocks_timeline ($light_orange_photoshop_background);

        h3{
          @include titre_rubriques;
        }

        img{
          width: 150px;
          height: 100px;
          margin-left: 0%;
        }
        h4{
          font-size: 1.5rem;
        }

        #paris_sud{
          margin-left: 20%;
        }
    }

    .block_experiences{
      @include blocks_timeline ($orange2_photoshop);

          h3{
            @include titre_rubriques;
          }


          img{
            width: 200px;
          }

          #hachette{
            margin-left: -5%;
          }

          #gallimard{
            border-width: 30px;
          }


          h4{
            font-size: 1.5rem;
          }

        }

        .timeline {
          position: relative;
          width: 60%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
        }

        /* Je donne une barre verticale à la timeline */
        .timeline::after {
          content: '';
          position: absolute;
          width: 2.5px;
          background-color: white;
          top: 0;
          bottom: 0;
          left: 50%;
          margin-left: -3px;
          box-sizing: none;
        }

        .container {
          padding: 10px 40px;
          position: relative;
          background-color: inherit;
          width: 50%;
          margin-left: 0;
        }

        .container::after {
          content: '';
          position: absolute;
          width: 25px;
          height: 25px;
          right: -11px;
          background-color: white;
          border: 4px solid #FF9F55;
          top: 15px;
          border-radius: 50%;
          z-index: 1.5;
        }

        /* Je place le container à gauche */
        .left {
          left: 0;
        }

        /* Je place le container à droite */
        .right {
          left: 0;
        }


        /* J'ajoute une flèche au container gauche (pointant à droite) */
        .left::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1.5;
          right: 30px;
          border: medium solid white;
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent white;

        }

        /* J'ajoute une flèche au container droite (pointant à gauche) */
        .right::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1.5;
          left: 30px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
        }

        /* Je fixe un cercle sur le côté droite des containers */
        .right::after {
          left: -14px;
          //border-color: black;
        }

        /*.left::after {
          left: 420px;
          border-color: black;
        }*/

        /* Je style le contenu */
        .content {
          padding: 2% 5%;
          background-color: white;
          position: relative;
          border-radius: 6px;
          border: 2px solid #FF9F55;
        }

        .ligne_container{
          flex-direction: row;
          display: flex;
          width: 100%;
          margin-bottom: 5%;
        }

        .logo_ecole1{
          width: 50%;
          padding-left: 5%;
        }

        .logo_ecole2{
          width: 50%;
          padding-left: 22%;
        }


  .carrousel{
    width: 100%;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .block_hobbies{
    background-color: $rouge_photoshop_background;
    margin-top: -1.1%;
    flex-direction: column;
    display: flex;
    width: 100%;

        .block_carrousel{
          width: 100%;
          flex-direction: row;
          display: flex;
        }

          h3{
            @include titre_rubriques;
          }

          .sous_block_carrousel{
            width:50%;
            margin-top: -2%;
            margin-bottom: -3%;
            padding-left: 22%;
          }

          /*.carrousel{
              position:relative;
              width: 85%;
              height: 70%;
              margin: auto;

          }
          .carrousel ul li{
              position:absolute;
              top:0;
              left: 50%;
              //width: calc(100% * 5);
              //animation: "glisse" 10s infinite;
          }*/

          .liste_puces{
            list-style-type: circle;
          }

          img{
            width: 250px;
          }

          .sous_block_rubriques{
                width:50%;
                margin-top: -2%;
                margin-bottom: -3%;
                padding-left: 3%;
          }
          .rubriques_carrousel{
                font-size: 1.2rem;
          }
    }
  /*.block_hobbies{
    background-color: $rouge_photoshop_background;
    margin-top: -1.1%;
    padding: 3%;
    flex-direction: row;
    display: flex;
        .rubrique_hobbies{
          background-color: $yellow-background;
          color: black;
          font-size: 1.2em;
          border-radius: 50%;
          padding: 1%;
          width: 25%;
          text-align: center;
        }
  }*/

  .block_form{
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 20%;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    width: 40%;

    .etiquette{
          label{
            font-size: 1.2rem;
          }
          input{
              padding-top: 1%;
              width: 70%;
          }

          }

          #message{
            width: 150%;
          }
      }

  #bouton_formulaire{
    background-color: $rouge_photoshop_background;
    color: white;
    margin-top: 1%;
    padding: 1%;
    border-radius: 15%;
    font-size: 1.2rem;
  }

  #formulaire{
    background-color: $orange_rouge_photoshop;
    padding-top: 2%;
    padding-bottom: 5%;
  }
