
@import 'var_portfolio';

body {
  max-width: 100%;
  font-family: "Roboto";
  font-size: 1rem;
}

/*a:link{
cursor: pointer;
}*/


@mixin bouton_capture{
  width: 390px;
  height: 390px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin: 2%;
}

@mixin blocks_timeline ($background){
  background-color: $background;
  padding-top: 0.1%;
  padding-bottom: 3%;
}

@mixin titre_rubriques {

  @import url(https://fonts.googleapis.com/css?family=Quando);
  *, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  * {margin:0;padding:0;border:0 none;position: relative; outline: none;
  }

  h3{
    font-size: 3rem;
    padding-top: 5%;
    padding-bottom: 3%;
    font-style: bold;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }
  h3 > a {
    text-decoration: none;
    color: $title;
    z-index: 1;
    padding-bottom: 12px;
  }

  h3 > a:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 3px;
   bottom: 0;
   left: 0;
   background: #9CF5A6;
   visibility: hidden;
   border-radius: 5px;
   transform: scalex(0);
   transition: .25s linear;
 }

  h3 > a:hover:before,
  h3 > a:focus:before {
   visibility: visible;
   transform: scaleX(1);
  }

 .underlined > a:after {
   content: "";
   position: absolute;
   width: 100%;
   height: 7px;
   border: 1px solid #000;
   bottom: -2px;
   left: 0;
   background: #fff;
   border-radius: 5px;
   opacity: 0;
   transform: scalex(0);
   transition: .5s;
 }
 .underlined > a:after {
   opacity: .05;
   transform: scalex(1);
 }
 .underlined:hover > a:after {
   opacity: .15;
   transform: scalex(1);
 }
 .underlined > a:before {
   background: rgba(0,0,0,0);
   box-shadow: 0 0 10px 2px $rouge_photoshop_background;
 }
 .underlined > a:before {
   background: rgba(0,0,0,0);
   box-shadow: 0 0 10px 2px $rouge_photoshop_background;
 }

}

@mixin formation_experience{
  h2{
    font-size: 1.4rem !important;
  }
  p{
    font-size: 1rem !important;
    line-height: 17px;
  }
}

.corpus{
  max-width: 100%;
  display: block;
}

header.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $rouge_photoshop_background;
  //opacity: 0.7;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 3;

      ul{
        display: flex;
        flex-direction: row;
      }

      li{
        margin: 2%;
      }

      .navbar{
        color: white;
        font-size: 1.1rem;
        }

        .navbar:hover{
          background-color: black;

      }

      #linkedin{
        width: 38px;
        height: 38px;
        margin-top: 1%;
        border-radius: 5px;
      }
      #linkedin:hover{
        opacity: 0.5;
      }

      #github{
        font-size:40px;
        color:black;
        background: white;
        border-radius: 100px;
      }

      #github:hover{
        opacity: 0.5;
      }

      #menu{
        //padding-left: 8%;
        font-size: 1.3rem;
        width: 50%;
        padding-left: 10%;
      }

      #logo_row{
        padding-left: 25%;
        display: flex;
        flex-direction: row;
        width: 50%;
      }

    }

    h1  {
        font-size: 2.3em !important;
        color: white;
      }

      .animated {
                  animation-duration: 8s;
                  -webkit-animation-delay: 0.2s ease-in-out;
                  -moz-animation-delay: 0.2s ease-in-out;
                  transition-delay: 0.2s ease-in-out;

               }

               @-webkit-keyframes fadeOut {
                  0% {opacity: 1;}
                  100% {opacity: 0;}
               }

               @keyframes fadeOut {
                  0% {opacity: 1;}
                  100% {opacity: 0;}
               }

               .fadeOut {
                  animation-name: fadeOut;
               }

        h2  {
            font-size: 2em !important;
            font-weight: bold;
            color: $title;
          }

        #nom{
            font-size: 1.8em !important;
            margin-top: -10%;
          }

          .animated2 {
                      -webkit-animation-delay: 5s ease-in-out;
                      -moz-animation-delay: 5s ease-in-out;
                      transition-delay: 5s ease-in-out;
                      animation-duration: 8s;
                   }

                   @-webkit-keyframes fadeIn {
                      100% {opacity: 0;}
                      0% {opacity: 1;}
                   }

                   @keyframes fadeIn {
                      0% {opacity: 0;}
                      100% {opacity: 1;}
                   }

          .fadeIn{
             animation-name: fadeIn;
          }



        h3{
            font-size: 1.8em !important;
          }

          .animated1 {
                      animation-duration: 8s;
                   }

                   @-webkit-keyframes fadeIn {
                      100% {opacity: 0;}
                      0% {opacity: 1;}
                   }

                   @keyframes fadeIn {
                      0% {opacity: 0;}
                      100% {opacity: 1;}
                   }

          .fadeIn {
             animation-name: fadeIn;
          }


article{
  font-size: 1.3em !important;
  margin-bottom: -10%;

}
        #street{
          display: none;
          position: absolute;
        }

        #place:hover #street{
          display: block;
        }

        #mail{
          display: none;
          position: absolute;
        }

        #mail-box:hover #mail{
          display: block;
        }


#accueil{
  background-color: $color_back;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
    img{
      width: 70%;
    }

    #about{
      width: 60%;
      margin-top: -2%;
        img{
          width: 35%;
          margin-top: 20%;
            }

            #pied_accueil{
              width: 100%;
              display: flex;
              flex-direction: row;
            }

            #block_boutons{
              flex-direction: column;
              display: flex;
            }

            .logo_bouton{
              display: flex;
              flex-direction: row;
              margin-right: 20%;


                a{
                  color: white;
                  width: 130px;
                  height: 45px;
                  border-radius: 180px;
                  font-size: 1rem;
                  margin-top: 55%;
                  padding-top: 6%;
                  background-color: $rouge_photoshop_background;
                  }

                  a:hover{
                    opacity: 0.5;
                  }

              }


                  #marge_bouton{
                    margin-top: 45%;
                  }

                  #marge_bouton1{
                    margin-top: -30%;
                  }
                }
          }


  /*.block_computing{
    width: 100%;

            .sous-block-techno{
              width: 50%;
              display: flex;
              flex-direction: row;
              margin-right: 5%;
            }

            h3{
              color: white;
              width: 50%;
              padding-left: 10%;
              font-size: 2rem;
            }
        }*/


        .block_techno{
          width: 100%;
          display: flex;
          flex-direction: row;
          margin-left: 6%;

              .logo_techno{
                width: 75px;
                height: 65px;
                margin-left: 28px;
                margin-right: 15px;
              }

                #logo_techno1{
                  width: 90px;
                  height: 70px;
                  margin-left: 15px;
                  margin-right: 15px;
                }


      }


      .block_projects{
        background-color: $color_back_light;
        margin-top: -3%;
        padding-bottom: 10%;
        @include titre_rubriques;


        .line_projects1{
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 2%;
        }
        .line_projects2{
          width: 100%;
          display: flex;
          justify-content: center;
        }

        button{
          @include bouton_capture;

        }
        button{
          @include bouton_capture;
        }



        #maquette_foret{
          background-image: url("../captures_projets/foret_cercle.png");
          background-position: -32px -28px;
        }

        #maquette_animation{
          background-image: url("../captures_projets/transat.png");
        }

        #maquette_materialize{
          background-image: url("../captures_projets/batman_capture.png");
        }

        #maquette_gsap{
          background-image: url("../captures_projets/capture_gsap_emoji.png");
          background-position: -43px -30px;
        }
        #maquette_snapchat{
          background-image: url("../captures_projets/capture_code_snaptchat.png");
          background-position: -43px -30px;
        }

        #maquette_spotify{
          background-image: url("../captures_projets/capture_logo_spotify.png");
          background-position: -108px -107px;
        }

        .description_projet{
          background-color: black;
          opacity: 0;
          width: 390px;
          height: 390px;
          border-radius: 50%;
          position: absolute;
          top: 1.5%;
          //right: -1.8%;
          padding: 10%;

            h4{
              font-size: 2rem;
              padding-top: 10%;
              margin-bottom: -1%;
              text-align: center;
            }

            p {
              color: white;
              padding-top: 5%;
            }


          }

          .description_projet:hover{
            opacity: 0.6;
          }

          /*.sous_block_projet{
            position: relative;
            margin-left: 15px;
            margin-right: 15px;
          }*/


  }

  .block_formations{

    @include blocks_timeline ($light_orange_photoshop_background);
    @include formation_experience;
    @include titre_rubriques;


        img{
          width: 150px;
          height: 100px;
          margin-left: 0%;
        }

        #paris_sud{
          margin-left: 20%;
        }
    }

    .block_experiences{
      @include blocks_timeline ($orange2_photoshop);
      @include formation_experience;

          h3{
            //@include titre_rubriques;
            display: none;
          }


          img{
            width: 200px;
          }

          #hachette{
            margin-left: -5%;
          }

          #gallimard{
            border-width: 30px;
          }


          h4{
            font-size: 1.5rem;
          }

        }

        .timeline {
          position: relative;
          width: 60%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
        }

        /* Je donne une barre verticale à la timeline */
        .timeline::after {
          content: '';
          position: absolute;
          width: 2.5px;
          //height: 105%;
          background-color: $rouge_photoshop_background;
          top: 0;
          bottom: 0;
          left: 50%;
          margin-left: -3px;
          box-sizing: none;
        }

        .container {
          padding: 10px 40px;
          position: relative;
          background-color: inherit;
          width: 50%;
          margin-left: 0;
        }

        .container::after {
          content: '';
          position: absolute;
          width: 25px;
          height: 25px;
          right: -11px;
          background-color: $rouge_photoshop_background;
          border: 4px solid $rouge_photoshop_background;
          top: 15px;
          border-radius: 50%;
          z-index: 1.5;
        }

        /* Je place le container à gauche */
        .left {
          left: 0;
        }

        /* Je place le container à droite */
        .right {
          left: 0;
        }


        /* J'ajoute une flèche au container gauche (pointant à droite) */
        .left::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1.5;
          right: 30px;
          border: medium solid $rouge_photoshop_background;
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent white;

        }

        /* J'ajoute une flèche au container droite (pointant à gauche) */
        .right::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1.5;
          left: 30px;
          border: medium solid $rouge_photoshop_background;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
        }

        /* Je fixe un cercle sur le côté droite des containers */
        .right::after {
          left: -14px;
          //border-color: black;
        }

        /*.left::after {
          left: 420px;
          border-color: black;
        }*/

        /* Je style le contenu */
        .content {
          padding: 2% 5%;
          background-color: white;
          position: relative;
          border-radius: 6px;
          border: 2px solid $rouge_photoshop_background;
        }

        .ligne_container{
          flex-direction: row;
          display: flex;
          width: 100%;
          margin-bottom: 5%;
        }

        .logo_ecole1{
          width: 50%;
          padding-left: 5%;
        }

        .logo_ecole2{
          width: 50%;
          padding-left: 22%;
        }


  .carrousel{
    width: 100%;
    background-color: white;
    margin-bottom: 10%;
  }

  .block_hobbies{
    background-color: $color_back_ultralight;
    margin-top: -1.1%;
    flex-direction: column;
    display: flex;
    width: 100%;
    @include titre_rubriques;

    #hobbies_title{
      padding-bottom: 7%;
    }

        .block_carrousel{
          width: 100%;
          flex-direction: row;
          display: flex;
        }


          .sous_block_carrousel{
            width:50%;
            margin-top: -10%;
            margin-bottom: -3%;
            //padding-left: 22%;
          }

          /*.carrousel{
              position:relative;
              width: 85%;
              height: 70%;
              margin: auto;

          }
          .carrousel ul li{
              position:absolute;
              top:0;
              left: 50%;
              //width: calc(100% * 5);
              //animation: "glisse" 10s infinite;
          }*/

          .liste_puces{
            list-style-type: circle;
          }

          img{
            width: 100%;
            max-width: 100%;
            max-height: 100%;
          }
          .myclass{
            width: 50%;
            height: 200px;
          }

          .sous_block_rubriques{
                width:50%;
                margin-top: -2%;
                margin-bottom: -3%;
                padding-left: 3%;
          }
          .rubriques_carrousel{
                font-size: 1.2rem;
          }
    }
  /*.block_hobbies{
    background-color: $rouge_photoshop_background;
    margin-top: -1.1%;
    padding: 3%;
    flex-direction: row;
    display: flex;
        .rubrique_hobbies{
          background-color: $yellow-background;
          color: black;
          font-size: 1.2em;
          border-radius: 50%;
          padding: 1%;
          width: 25%;
          text-align: center;
        }
  }*/

  #formulaire{
    background-color: $orange_rouge_photoshop;
    padding-top: 2%;
    padding-bottom: 5%;
  }

  #titre_form{
        @include titre_rubriques;
  }


  .block_form{
    margin-top: 2%;
    margin-left: 28%;
    margin-right: 20%;
    padding-left: 1.5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    width: 45%;
    border-radius: 15px;
    box-shadow: 6px 4px 14px #ccc;


    .etiquette{
          label{
            font-size: 1rem;
          }
          input{
              padding-top: 1%;
              width: 70%;
          }

        }

      }

  #bouton_formulaire{
    background-color: $rouge_photoshop_background;
    color: white;
    margin-top: 3%;
    margin-left: 9%;
    padding: 1%;
    border-radius: 15%;
    font-size: 1.2rem;
  }
