$yellow-background: #ffd600;
$orange_header: #ff6d00;
$background_projects: #ccff90;
$background_techno: #ffea00;
$background_formations: #fff8e1;
$background_experiences: #ffebee;
$background_hobbies: #e8eaf6;
$hobbies_boutons: #9575cd;
$background_form: #bbdefb;
$carmin_photoshop_background: #e81d00;
$orange_photoshop_background: #ffaf02;
$darkorange_photoshop_background: #921801;
$rouge_photoshop_background: #ff3915;
$light_orange_photoshop_background: #fd7d22;
$skin_photoshop: #f7beab;
$light_skin_photoshop: #ffecdd;
$orange2_photoshop: #ffaa01;
$orange_rouge_photoshop: #ff6239;
$color_back: #FFF32C;
$color_back_light: #FFFD48;
$color_back_ultralight: #FFF787;
$title:  #474e5d;
