body {
  max-width: 100%;
  font-family: arial;
  font-size: 1em;
}

.container{
  max-width: 1024px;
}

.icon-blue{
  color: blue;
}

h1{
  font-size: 2em !important;
  /*font-family: "lemoneign";*/
}

h2{
  font-size: 2.5em !important;
}

#image_accueil{
  width: 60;
  height: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#numero{
  display: none;
}

#phone:hover #numero{
  display: block;
}

#street{
  display: none;
}

#place:hover #street{
  display: block;
}

#mail{
  display: none;
}

#mail-box:hover #mail{
  display: block;
}

#gallimard{
  width: 20%;
  height: 10%;
}

#hachette{
  width: 20%;
  height: 10%;
}

#michelin{
  width: 20%;
  height: 10%;
}

#paribas{
  width: 20%;
  height: 10%;
}
