body {
  max-width: 100%;
  font-family: "Dellmonte Sans";
  font-size: 1em;
}

.container{
  max-width: 1024px;
}

.icon-blue{
  color: blue;
}

#image_accueil{
  width: 30%;
  height: 10%;
}

#numero{
  display: none;
}

#phone:hover #numero{
  display: block;
}

#street{
  display: none;
}

#place:hover #street{
  display: block;
}

#mail{
  display: none;
}

#mail-box:hover #mail{
  display: block;
}
