@charset "UTF-8";
body {
  max-width: 100%;
  font-family: "Roboto";
  font-size: 1rem;
}

.corpus {
  max-width: 100%;
  display: block;
}

header.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ff3915;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 3;
}
header.sticky ul {
  display: flex;
  flex-direction: row;
}
header.sticky li {
  margin: 2%;
}
header.sticky .navbar {
  color: white;
  font-size: 1.1rem;
}
header.sticky .navbar:hover {
  background-color: black;
}
header.sticky #menu {
  font-size: 1.3rem;
  width: 50%;
  padding-left: 10%;
}
header.sticky #logo_row {
  padding-left: 25%;
  display: flex;
  flex-direction: row;
  width: 50%;
}

h1 {
  font-size: 2.3em !important;
  color: white;
}

.animated {
  animation-duration: 3.5s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}

h2 {
  font-size: 2em !important;
  font-weight: bold;
}

h3 {
  font-size: 1.8em !important;
}

.animated1 {
  animation-duration: 3.8s;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

article {
  font-size: 1.3em !important;
  margin-bottom: -10%;
}

#street {
  display: none;
  position: absolute;
}

#place:hover #street {
  display: block;
}

#mail {
  display: none;
  position: absolute;
}

#mail-box:hover #mail {
  display: block;
}

#accueil {
  background-color: #ffd600;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
}
#accueil img {
  width: 70%;
}
#accueil #about {
  width: 60%;
  margin-top: -2%;
}
#accueil #about img {
  width: 35%;
  margin-top: 20%;
}
#accueil #about #pied_accueil {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#accueil #about #block_boutons {
  flex-direction: column;
  display: flex;
}
#accueil #about .logo_bouton {
  display: flex;
  flex-direction: row;
  margin-right: 20%;
}
#accueil #about .logo_bouton a {
  color: white;
  width: 180px;
  height: 55px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-top: 55%;
  padding-top: 6%;
}
#accueil #about #marge_bouton {
  margin-top: 15%;
}
#accueil #about #marge_bouton1 {
  margin-top: -30%;
}

/*.block_computing{
  width: 100%;

          .sous-block-techno{
            width: 50%;
            display: flex;
            flex-direction: row;
            margin-right: 5%;
          }

          h3{
            color: white;
            width: 50%;
            padding-left: 10%;
            font-size: 2rem;
          }
      }*/
.block_techno {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 6%;
}
.block_techno .logo_techno {
  width: 75px;
  height: 65px;
  margin-left: 28px;
  margin-right: 15px;
}
.block_techno #logo_techno1 {
  width: 90px;
  height: 70px;
  margin-left: 15px;
  margin-right: 15px;
}

.block_projects {
  background-color: #ff3915;
  padding-top: 5%;
  padding-bottom: 10%;
  color: white;
  /*.sous_block_projet{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
  }*/
}
.block_projects h3 {
  padding-left: 10%;
  margin-bottom: 8%;
  font-size: 2rem;
  padding-top: -3%;
}
.block_projects .line_projects1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.block_projects .line_projects2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.block_projects button {
  width: 390px;
  height: 390px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin: 2%;
}
.block_projects button {
  width: 390px;
  height: 390px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin: 2%;
}
.block_projects #maquette_foret {
  background-image: url("../captures_projets/foret_cercle.png");
  background-position: -32px -28px;
}
.block_projects #maquette_animation {
  background-image: url("../captures_projets/transat.png");
}
.block_projects #maquette_materialize {
  background-image: url("../captures_projets/batman_capture.png");
}
.block_projects #maquette_gsap {
  background-image: url("../captures_projets/capture_gsap_emoji.png");
  background-position: -43px -30px;
}
.block_projects #maquette_snapchat {
  background-image: url("../captures_projets/capture_code_snaptchat.png");
  background-position: -43px -30px;
}
.block_projects #maquette_spotify {
  background-image: url("../captures_projets/capture_logo_spotify.png");
  background-position: -108px -107px;
}
.block_projects .description_projet {
  background-color: black;
  opacity: 0;
  width: 390px;
  height: 390px;
  border-radius: 50%;
  position: absolute;
  top: 1.5%;
  right: -1.8%;
  padding: 10%;
}
.block_projects .description_projet h4 {
  font-size: 2rem;
  padding-top: 10%;
  margin-bottom: -1%;
  text-align: center;
}
.block_projects .description_projet p {
  color: white;
  text-align: justify;
  padding-top: 5%;
}
.block_projects .description_projet:hover {
  opacity: 0.6;
}

.block_formations {
  background-color: #fd7d22;
  padding-top: 0.1%;
  padding-bottom: 3%;
}
.block_formations h3 {
  width: 100%;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  font-size: 2rem;
}
.block_formations img {
  width: 150px;
  height: 100px;
  margin-left: 0%;
}
.block_formations h4 {
  font-size: 1.5rem;
}
.block_formations #paris_sud {
  margin-left: 20%;
}

.block_experiences {
  background-color: #ffaa01;
  padding-top: 0.1%;
  padding-bottom: 3%;
}
.block_experiences h3 {
  display: none;
}
.block_experiences img {
  width: 200px;
}
.block_experiences #hachette {
  margin-left: -5%;
}
.block_experiences #gallimard {
  border-width: 30px;
}
.block_experiences h4 {
  font-size: 1.5rem;
}

.timeline {
  position: relative;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Je donne une barre verticale à la timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 2.5px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  box-sizing: none;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-left: 0;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1.5;
}

/* Je place le container à gauche */
.left {
  left: 0;
}

/* Je place le container à droite */
.right {
  left: 0;
}

/* J'ajoute une flèche au container gauche (pointant à droite) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1.5;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* J'ajoute une flèche au container droite (pointant à gauche) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1.5;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Je fixe un cercle sur le côté droite des containers */
.right::after {
  left: -14px;
}

/*.left::after {
  left: 420px;
  border-color: black;
}*/
/* Je style le contenu */
.content {
  padding: 2% 5%;
  background-color: white;
  position: relative;
  border-radius: 6px;
  border: 2px solid #FF9F55;
}

.ligne_container {
  flex-direction: row;
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}

.logo_ecole1 {
  width: 50%;
  padding-left: 5%;
}

.logo_ecole2 {
  width: 50%;
  padding-left: 22%;
}

.carrousel {
  width: 100%;
  background-color: white;
  margin-bottom: 10%;
}

.block_hobbies {
  background-color: #ff3915;
  margin-top: -1.1%;
  flex-direction: column;
  display: flex;
  width: 100%;
  /*.carrousel{
      position:relative;
      width: 85%;
      height: 70%;
      margin: auto;

  }
  .carrousel ul li{
      position:absolute;
      top:0;
      left: 50%;
      //width: calc(100% * 5);
      //animation: "glisse" 10s infinite;
  }*/
}
.block_hobbies .block_carrousel {
  width: 100%;
  flex-direction: row;
  display: flex;
}
.block_hobbies h3 {
  width: 100%;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  font-size: 2rem;
}
.block_hobbies .sous_block_carrousel {
  width: 50%;
  margin-top: -10%;
  margin-bottom: -3%;
}
.block_hobbies .liste_puces {
  list-style-type: circle;
}
.block_hobbies img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.block_hobbies .myclass {
  width: 50%;
  height: 200px;
}
.block_hobbies .sous_block_rubriques {
  width: 50%;
  margin-top: -2%;
  margin-bottom: -3%;
  padding-left: 3%;
}
.block_hobbies .rubriques_carrousel {
  font-size: 1.2rem;
}

/*.block_hobbies{
  background-color: $rouge_photoshop_background;
  margin-top: -1.1%;
  padding: 3%;
  flex-direction: row;
  display: flex;
      .rubrique_hobbies{
        background-color: $yellow-background;
        color: black;
        font-size: 1.2em;
        border-radius: 50%;
        padding: 1%;
        width: 25%;
        text-align: center;
      }
}*/
.block_form {
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 20%;
  padding-left: 1.5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  width: 45%;
  border-radius: 15px;
  box-shadow: 6px 4px 14px #ccc;
}
.block_form .etiquette label {
  font-size: 1rem;
}
.block_form .etiquette input {
  padding-top: 1%;
  width: 70%;
}

#bouton_formulaire {
  background-color: #ff3915;
  color: white;
  margin-top: 3%;
  margin-left: 9%;
  padding: 1%;
  border-radius: 15%;
  font-size: 1.2rem;
}

#formulaire {
  background-color: #ff6239;
  padding-top: 2%;
  padding-bottom: 5%;
}

/*# sourceMappingURL=style.css.map */
