body {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  box-sizing: border-box;
}

img {
	height: 300px;
  max-width: 100%;
}

#snapchat_Image{
  font-family: Arial, sans-serif;
  font-size: 38px;
  color: white;
}

#snapchat_Inscription{
  font-family: Arial, sans-serif;
  font-size: 38px;
  color: red;
}

#snapchat_Connection{
  font-family: Arial, sans-serif;
  font-size: 38px;
  color: white;
}

#background_Image {
  background-color: #F08080;
}

#background_Connection {
  background-color: #00ffff;
}

#background_Inscription {
  background-color: #FFFF00;
}

.block_title {
  width: 500px;
  height: 50px;
  border-style: solid;
  border-width: 6px;
  border-color: #0000ff;
  border-radius: 30px;
  text-align: center;
  padding-bottom: -8px;
  padding-bottom: -5px;
  margin-bottom: 100px;

}

.block_input{
  width: 150px;
  height: 25px;
  margin-bottom: 30px;
  border-radius: 30px;
  border-color: #0000ff;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

.mail_style{
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #000080;
  style: bold;
  margin-right: 35px;
}

.password_style{
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #000080;
  style: bold;
}

.button{
  width: 200px;
  height: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  color:  #0000ff;
  border-radius: 30px;
  border-color: #000080;
  border-style: solid;
  border-width: 2px;

}


#register{
    width: 120px;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    font-style: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
    padding-bottom: 2px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

#destinataires{
  margin-top: 50px;
}

#connect{
    width: 120px;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    font-style: bold;
    background-color: #0000ff;
    color: white;
    border-radius: 30px;
    padding-bottom: 2px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

#parcourir{
  margin-bottom: 50px;
  border-color: #000080;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  background-color: white;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}
